.hero-section {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6a11cb, #b24592);
  font-family: "Montserrat", sans-serif;
}

.hero-btn {
  background-color: #1D2735;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #7234B3;
  color: #fceabb;
}

