/* components/MatrixEffectHTML.css */
.matrix-container {
    background-color: #080808;
    position: relative;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #49DE80;
  }
  
  .matrix-column {
    position: absolute;
    animation-name: matrix-fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;
  }
  
  @keyframes matrix-fall {
    0% {
      transform: translateY(-100%);
    }
   
    75% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(100%);
    }
  }

